# Temporary files
*.swp
cscope.out
*-journal
*.log
*~

# CMake temporary files
*.cmake
CMakeFiles
CMakeCache.txt
Makefile

# Binaries
*.so
*.a
tiny-au3

# debian build files
debian/*~
debian/buildroot/
debian/*.debhelper.log
debian/*.substvars
install_manifest.txt
*.1
bin/deb/
build-stamp
configure-stamp
debian/files
*.debhelper
